@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
}

.proof {
  text-align: center;
}
.proof__title {
  color: #502050;
  font-size: 30px;
  font-weight: 700;
  padding: 2rem 2rem 0;
}
.proof__subtitle {
  color: #937b92;
  line-height: 1.5;
}

.appreciations {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 0;
}

.note {
  background-color: #f7f2f7;
  border-radius: 5px;
  padding: 0.5rem 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.note__stars {
  width: 100px;
  height: 20px;
  background-image: url("../images/icon-star.svg");
  background-repeat: space;
  margin-top: 15px;
}
.note__text {
  color: #502050;
  font-weight: 700;
  font-size: 13px;
}

.customer {
  background-color: #502050;
  border-radius: 8px;
  color: white;
  padding: 2rem;
  margin: 1rem;
}
.customer__header {
  display: flex;
  margin-bottom: 1rem;
  height: 60px;
}
.customer__image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 1.5rem;
}
.customer__infos {
  flex-direction: column;
  height: 40px;
}
.customer__title {
  font-size: 15px;
  margin: 0.25rem 0;
}
.customer__subtitle {
  color: #ee68a4;
  margin: 0;
}
.customer__text {
  line-height: 1.5;
  font-weight: 500;
  margin: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: #3e52a3;
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1250px;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(2, 1fr) 50px;
    grid-template-columns: repeat(12, 1fr);
    padding: 3rem 5rem;
  }

  .proof {
    grid-row: 1/2;
    grid-column: 1/span 6;
    text-align: left;
  }
  .proof__title {
    padding: 0 6rem 0 0;
    font-size: 51px;
    margin-bottom: 0;
  }
  .proof__subtitle {
    margin-right: 8rem;
  }

  .appreciations {
    margin-left: 2rem;
    grid-row: 1/2;
    grid-column: 7/span 12;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(10, 1fr);
  }

  .note {
    flex-direction: row;
    align-items: center;
    padding: 1.1rem 2rem;
    width: 400px;
  }
  .note__stars {
    margin: 0;
  }
  .note__text {
    margin: 0 2rem;
  }
  .note-1 {
    grid-row: 1/2;
    grid-column: 1/span 7;
  }
  .note-2 {
    grid-row: 2/3;
    grid-column: 2/span 7;
  }
  .note-3 {
    grid-row: 3/4;
    grid-column: 3/span 7;
  }

  .reviews {
    margin-top: 2rem;
    grid-row: 2/3;
    grid-column: 1/span 12;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(12, 1fr);
    column-gap: 2rem;
  }

  .customer {
    margin: 0;
  }
  .customer-1 {
    grid-row: 1/span 10;
  }
  .customer-2 {
    grid-row: 2/span 10;
  }
  .customer-3 {
    grid-row: 3/span 10;
  }

  .attribution {
    margin-top: 8rem;
    grid-row: 3/4;
    grid-column: 1/span 12;
  }
}

/*# sourceMappingURL=style.css.map */
